.btn-prodPale{
  text-decoration:none;
  padding: 10px 10px;
  border: 2px solid #111;
  color: #111;
  margin: 3px auto;
  position:relative;
  top: 100px;
}
.btn-prodPale:hover{
  background-color: #111;
  color: #fff;
}
#prod-infoPale{
  padding: 23px;
}
.promo-newArrivals{
  position:absolute;
  background-color:#FECF67;
  margin: 5px auto;
  padding: 3px;
  border-radius: 1px;
  height: 50px;
 }
/* Tablet Viewport */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
 #prod-infoPale{
   padding: 10px;
   font-size: 12px;
 }
  .btn-prodPale{
    padding: 5px;
    width: 90%;
   position:relative;
   top:0;
  }
 #img-palered{
  height:350px;
 }
}
/* Mobile Viewport */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
 #prod-infoPale{
   max-width: 402px;
   margin:auto;
   margin-top: 5px;
  font-size: 12px;
 }
 .btn-prodPale{
  position:relative;
  top:0;
 }
}