.td-img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 180px;
}
.btn-buyItem{
  padding: 4px 15px;
  border: 2px solid #111;
  transition: .3s;
  color: #fff;
  background-color:#FF7852;
}
.btn-buyItem:hover{
  color: #111;
  border: 2px solid #111;
  background-color: #fff;
}
.basket-icon{
  display: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
  #text-size{
    font-size: 13.5px;
  }
  .btn-buyItem{
    display: none;
  }
  .basket-icon{
    display:inline-block;
  }
  .td-img{
    height: 100px;
    width: 500px;
  }
  .price-tag{
    width: 100px;
  }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
  table {width:100%;}
  thead {display: none;}
  th{display:none;}
  tr:nth-of-type(2n) {background-color: inherit;}
  tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
  tbody td {display: block;  text-align:center;}
  tbody td:before { 
      /* content: attr(data-th);  */
      display: block;
      text-align:center;  
  }
  #text-size{
    font-size: 13.5px;
  }
  h1{text-align:center}
}