#sTxt-flower{
  width: 300px;
/*   left: 995px; */
/*   margin: auto; */
  margin-left: auto;
}
.collections-icons{
  text-decoration: none;
  color: #111;
}
.cardTitle-link{
 text-decoration: none;
 font-size: 17px;
}
.cardTitle-link:hover{
 text-decoration:underline #FECF67 2px;
}
.collections-icons:hover{
  color:#FF7852;
}
.card-flower{
  transition: 0.3s;
}
.card-flower:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.btn-buy{
 text-decoration:none;
 color: #fff;
 border: 2px solid #fff;
 padding: 1px 10px;
 background-color: #FF7852;
 border-radius: 2px;
 transition: .3s;
}
.btn-buy:hover{
 border: 2px solid #111;
 background-color: #fff;
 color: #111;
}
.img-flower{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 200px; */
  height: 200px;
}
.cardFlower-body{
  padding: 12px 16px;
  font-size: 14px;
}
.feb-ibig{
  position:absolute;
  top: 5px;
  left: 0px;
  background-color:#FF7852;
  color: #111;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
 }
 .new-arrivals{
  position:absolute;
  top: 5px;
  left: 0px;
  background-color:#FECF67;
  color: #111;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
 }
#flower1{
  background-image: url('../images/bs1.jpg');
}
#flower2{
  background-image: url('../images/bs2.jpg');
}
#flower3{
  background-image: url('../images/bs3.jpg');
}
#flower4{
  background-image: url('../images/bs4.jpg');
}
#flower5{
  background-image: url('../images/bs5.jpg');
}
#flower6{
  background-image: url('../images/bs6.jpg');
}
#flower7{
  background-image: url('../images/cf1.jpg');
}
#flower8{
  background-image: url('../images/cf2.jpg');
}
#flower9{
  background-image: url('../images/cs1.jpg');
}
#flower10{
  background-image: url('../images/cf3.jpg');
}
#flower11{
  background-image: url('../images/cs3.jpg');
}
#flower12{
  background-image: url('../images/cs4.jpg');
}
/* Tablet Viewport */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
 #sTxt-flower{
/*    left: 420px; */
   margin-left: auto;
 }
 .card-title{
  font-size: 16px;
 }
 .cardFlower-body{
  height: 100px;
 }
}
/* Mobile Viewport */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
  #sTxt-flower{
   margin-left:auto;
 }
 #row-flower{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin:auto;
/*   row-gap: 10px; */
 }
 .card-title{
  font-size: 16px;
 }
 .cardFlower-body{
  height:122px;
  font-size: 14px;
 }
 .btn-buy{
  float:right;
  font-size: 15px;
 }
 .collections-icons{
  font-size: 14px;
 }
}