#forgotp-img{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  height: 150px;
}
#forgotp-card{
  max-width: 540px;
}
#forgot-toast{
  width: auto;
}
/* Mobile Viewport */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
  #forgotp-img{
    display:none;
  }
  #forgotp-card{
    min-height:220px;
  }
}