/* Tablet Viewport */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  h3{
    font-size: 25px;
  }
  #rightNav li{
    font-size: 13px;
  }
  .card-tablet{
    margin: 20px auto;
    /* outline: dotted 1px; */
  }
  .div-bsimg{
    margin: 10px auto;
  }
  #shopnearby-row{
    display: flex;
    flex-direction:column-reverse;
  }
  span.badge{
    position:relative;
    font-size: 8px;
    bottom: 15px;
    left: 18px;
  }
  #btn-signup{
    width: 85px;
    font-size: 12px;
  }
  .card-footer{
    font-size: 12px;
  }
  .custom-popover{
    max-width: 100%;
  }
  .column{
    font-size: 14px;
  }
}
/* Mobile Viewport */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .navbar-brand{
    position:relative;
    right:20px;
    margin:auto;
  }
  #navMenus{
    text-align: center;
  }
  #rightNav{
    flex-direction:row;
    position:relative;
    left: 25px;
    margin:auto 10px;
    width: 250px;
  }
  #welcome-row{
    flex-direction:column;
  }
  #shopnearby-row{
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
  }
  #shopnearby-row h3{
    font-size: 20px;
  }
  .card-tablet{
    margin: 10px auto;
  }
  .fa-question-circle{
    left: 13px;
  }
  .welcome-text{
    width: 400px;
  }
  #shop-nearbyImage{
    margin-bottom: 15px;
  }
  .bs-footer{
    font-size: 12px;
  }
  .card-body{
    height: 60px;
  }
  .navMenuLink{
    width: 20%;
    margin:auto;
   }
  .bs-row{
    display:flex;
  }
  .column{
    flex-direction:row;
    width: 50%;
    float:left;
    font-size: 12px;
  }
  #regQ-txt{
    font-size:15px;
  }
}
