.btn-prod{
  text-decoration:none;
  padding: 10px 10px;
  border: 2px solid #111;
  color: #111;
  margin: 3px auto;
}
.btn-prod:hover{
  background-color: #111;
  color: #fff;
}
#prod-info{
  padding: 50px;
}
/* Tablet Viewport */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1){
 #prod-info{
   padding: 0px;
   font-size: 12px;
 }
  .btn-prod{
    padding: 5px;
    width: 90%;
  }
}
/* Mobile Viewport */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
 #prod-info{
   max-width: 402px;
   margin:auto;
   margin-top: 5px;
  font-size: 12px;
 }
}