.shop-img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
#store1{
  background-image: url('../images/store-gardening.png');
}
#store2{
  background-image: url('../images/bouquet-of-daisys.png');
}
#store3{
  background-image: url('../images/flower-in-a-pot.png');
}
#store4{
  background-image: url('../images/sunflower-dark.png');
}
#store5{
  background-image: url('../images/cactus.png');
}
#store6{
  background-image: url('../images/image-of-the-rainy-season-hydrangea-and-rain-svgrepo-com.png');
}
.btn-details{
  text-decoration: none;
  border: 1px solid black;
  position: relative;
  top:10px;
  padding: 3px 15px;
  border-radius: 5px;
  color: #111;
}
.btn-details:hover{
  background-color: black;
  color: white;
}
#shops-list{
  margin: auto 210px;
}
/*Tablet Viewport  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #shops-list{
    margin:auto;
  }
}
/* Mobile Viewport */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
  #shops-list{
    margin:auto;
  }
  .shop-img{
    position:relative;
  left:70px;
  }
  .shop-cardbody{
    text-align:center;
  }
  .shop-card{
    padding: 15px;
  }
}




